<h1>Welcome to DanceApp!</h1>
<br>
<p><button><%= link_to 'Are you a studio owner? Add your studio!', new_studio_path %></button></p>
<p><button><%= link_to 'Are you a teacher? Add your next dance class!', new_dance_class_path %></button></p>
<p><button><%= link_to 'Browse studios to find classes', studios_path %></button></p>
<p><button><%= link_to 'Browse dance styles to find classes', styles_path %></button></p>
<p><button><%= link_to 'My upcoming classes', class_registrations_path %></button></p>


