<h3><%= @dance_class.name %>(<%= @dance_class.style.name %>)</h3><br>
<p>at: <%= @dance_class.studio.name %><br>
<%= @dance_class.day.name %>s at <%= @dance_class.time %><%= @dance_class.ampm %> (<%= @dance_class.duration %> minutes)<br>