<p><h1>All <%= @style.name %> classes</h1></p>
<p>
    <% @style.dance_classes.each do |dance_class| %>
        <%= link_to dance_class.name, dance_class_path(dance_class) %>: <%= dance_class.day.name %> <%= dance_class.time %><%= dance_class.ampm %> at <%= dance_class.studio.name %><br>
    <% end %>
</p>
