<h2><%= @studio.name %></h2>
<p>
    <%= @studio.address %> <%= @studio.city %>, <%= @studio.state %> <%= @studio.zip_code %><br>
    Phone: <%= @studio.contact_phone %><br>
    Email: <%= @studio.contact_email %><br>
</p>
<p>
    <h4><%= link_to "Classes", studio_dance_classes_path(@studio) %></h4>
</p>

<%= link_to "Edit Studio", edit_studio_path(@studio) %><br>
<%= form_tag(studio_path(@studio), method: :delete, style: 'display: inline-block;') do %><br>
  <%= submit_tag "Delete Studio" %>
  <% end %>
