<h2><%= @studio.name %></h2>
<p>
    <%= @studio.address %> <%= @studio.city %>, <%= @studio.state %> <%= @studio.zip_code %><br>
    Phone: <%= @studio.contact_phone %><br>
    Email: <%= @studio.contact_email %><br>
</p>
